html {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 5px;
}

body {
  margin: 0;
}

.editor {

  /* Spacing */
  box-sizing: border-box;

  /* Borders */
  border: none;
  border-radius: 0.5em;
  outline: none;
  resize: none;

  /* Text & colours */
  background-color: #444;
  color: #def;
  font-size: small;
}

.single {

  /* Spacing */
  --margin: 0.5rem;
  margin: var(--margin);
  width: calc(50% - 2 * var(--margin));
  padding: 10px;
}

.double {

  /* Spacing */
  --margin: 0.5rem;
  margin: var(--margin);
  width: calc(100% - 2 * var(--margin));
  padding: 10px;
}
