html {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 5px;
}

body {
  margin: 0;
}

.editor {

  /* Spacing */
  margin: 0.5rem;
  width: 45%;
  padding: 10px;

  /* Borders */
  border: none;
  border-radius: 0.5em;
  outline: none;
  resize: none;

  /* Text & colours */
  background-color: #444;
  color: #def;
  font-size: large;
}
